[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
nose = "*"
flask = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
sqlalchemy = "*"
flask-router = {editable = true, path = "."}

[requires]
python_version = "3.6"
