[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-compose = {editable = true, path = "."}

[dev-packages]
nose = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
sqlalchemy = "*"
mypy = "*"

[requires]
python_version = "3.6"
